<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1"  />
	<title>蔡昕妤 - 作品集 </title>
	<link rel="shortcut icon" href="imgs/favicon.ico"/>

	<link rel="stylesheet" type="text/css" href="css/main.css?=v1" />
	<link rel="stylesheet" href="https://i.icomoon.io/public/99eb13a9b2/hady/style.css">
	<link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
</head>
<body>

	<header class="header clearfix" id="header">
		<h1 class="logo">
			<a href="#home" class="eng">昕</a>
		</h1>
		<nav class="nav">
			<ul>
				<li><a href="#about">About</a></li>
				<li><a href="#skills">Skills</a></li>
				<li><a href="#projects">Projects</a></li>
			</ul>
		</nav>
	</header>

	<div class="wp">
		<!-- ===================================
	        home
	    ==================================== -->
		<div class="section" id="home">
			<div class="container">
				<div class="personal-photo wow fadeInDownS">
					<img src="imgs/me.jpg" alt="personal">
					<p class="f15">蔡昕妤
					</p>
				</div>
				<h2 class="eng font-Lora wow fadeInUpM" data-wow-delay="0.25s">
					Life is too short, so work hard <br>and live hard.
				</h2>
			</div>
			<div class="home-bg">
				<div class="vh100 imgLiquidFill">
					<img src="imgs/air.jpg" alt="air">
				</div>
			</div>
		</div>

		<!-- ===================================
	        about
	    ==================================== -->
		<div class="section" id="about">
			<div class="container wow fadeInUpM">
				<h2 class="font-Lora">關於 / About </h2>
				<p>
					Hi，我是昕妤，也可以稱呼我Hedy. <br>
					認真是我的特點，並且熱於學習，從中得到快樂與成就感；　	<br>
					喜歡觀察生活，從生活當中引發許多創意和不同觀點的思考，堆積成設計思維，<br>
					應用在設計與程式上，挖掘自己的可能性，挑戰自我。
				</p>
				<p>
					目前在「網銀國際股份有限公司」擔任網頁前端設計師，<br>
					主要工作為製作與維護官方網站和各官方網站下活動頁製作。<br>
					
					與團隊一同規劃討論畫面互動的方式呈現。<br>
					在製作過程中，同時並重 UI/UX 以確保使用者有良好網站體驗與觀感。<br>
				</p>
			</div>
		</div>
		
		<!-- ===================================
	        skills
	    ==================================== -->
		<div class="section" id="skills">
			<div class="container">
				<h2 class="dark wow fadeInUpM">技能 / Skills</h2>
				<div class="row justify-content-between">
					<div class="col col-12 col-sm-6 col-md-4 wow fadeInUpM" data-wow-delay="0.2s">
						<div class="skill-item">
							<h3 class="f30">Html5 / CSS3 / SEO </h3>
							<ul class="columns">
								<li>使用Html5，符合語義, 提高網頁 SEO </li>
								<li>scss 熟悉拆解結構並重覆使用</li>
								<li>使用 CSS3 做出各樣的動態效果</li>
							</ul>
						</div>
					</div>

					<div class="col col-12 col-sm-6 col-md-4 wow fadeInUpM" data-wow-delay="0.25s">
						<div class="skill-item">
							<h3 class="f30">JQuery / JavaScript</h3>
							<ul>
								<li>熟悉撰寫不同 JQ / JS，達到各式功能和目標</li>
								<li>畫面與遊戲互動</li>
								<li>程式動畫設計</li>
							</ul>
						</div>
					</div>

					<div class="col col-12 col-sm-6 col-md-4 wow fadeInUpM" data-wow-delay="0.3s">
						<div class="skill-item">
							<h3 class="f30">UI / UX</h3>
							<ul class="columns">
								<li>希望使用者在網站體驗有著良好的體驗</li>
								<li>產品如何被呈現</li>
								<li>介面在使用者互動後的反應</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="skills-bg">
				<div class="imgLiquidFill pc">
					<img src="imgs/computer.jpg" alt="computer">
				</div>
			</div>
		</div>
		
		<!-- ===================================
	        projects
	    ==================================== -->
		<div class="section" id="projects">
			<div class="fp-bg"></div>

			<div class="container"  id="app">
				<h2 class="dark wow fadeInUpM">專案 / Projects</h2>
				<h3 cass="subTitle f25 wow fadeInUpM"> - 網站</h3>

				<div class="row wow fadeInUpM" data-wow-delay="0.2s">
					<div class="col col-12 col-md-4 col-xl-3 wow fadeInUpM" 
						v-for="(item, key) in webs" v-if="item.type == 1">
						<figure class="figure project-item">
							<div class="pc">
								<a v-bind:href="item.href" targeth3="blank" class="cover"></a>
								<img v-bind:src="item.img" v-bind:alt="item.title" />
							</div>
							<figcaption class="figcaption">{{ item.title }}</figcaption>
						</figure>
					</div>
				</div>

				<h3 cass="subTitle f25 wow fadeInUpM"> - 活動頁</h3>
				<div class="row wow fadeInUpM" data-wow-delay="0.2s">
					<div class="col col-12 col-md-4 col-xl-3 wow fadeInUpM" 
						v-for="(item, key) in webs" v-if="item.type == 2">
						<figure class="figure project-item">
							<div class="pc">
								<a v-bind:href="item.href" target="blank" class="cover"></a>
								<img v-bind:src="item.img" v-bind:alt="item.title" />
							</div>
							<figcaption class="figcaption">{{ item.title }}</figcaption>
						</figure>
					</div>
				</div>
			</div>
		</div>
		
	</div>

	<a href="#" class="Top not-top">
		<span class="icon icon-location-arrow"></span>
	</a>
	<!-- ===================================
        footer
    ==================================== -->
	<footer class="footer">
		<p>
			Copyright © 蔡昕妤 2019. All Rights Reserved
		</p>
	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.easings.min.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>
	<script type="text/javascript" src="js/wow.min.js"></script>
	<script type="text/javascript" src="js/default.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script>
		var app = new Vue({
			el: '#app',
			data: {
				webs: [
					{
						title: '夏日大挑戰',
						href: 'https://www.xin-stars.com/_event/event_Promotion/20200714_DragonGirl/',
						img: 'imgs/works/a1.png',
						type: 2
					},
					{
						title: 'EVA 跨界作戰計畫 ',
						href: 'https://www.xin-stars.com/_event/event_Promotion/20200424_EVANGELION/',
						img: 'imgs/works/a-2.png',
						type: 2
					},
					{
						title: '星城戳戳樂',
						href: 'https://xin-stars.com/_event/event_Promotion/20191009_PokeGame/',
						img: 'imgs/works/a-3.png',
						type: 2
					}, {
						title: '星城刮刮樂',
						href: 'https://xin-stars.com/_event/event_Promotion/20190704_ScratchCard/',
						img: 'imgs/works/a-4.png',
						type: 2
					}, {
						title: 'Poker',
						href: 'https://www.luckyraingame.com/LuckyEvent/20200519_poker',
						img: 'imgs/works/v-1.png',
						type: 2
					}, {
						title: '羅賓',
						href: 'https://www.luckyraingame.com/LuckyEvent/20200421_Robin',
						img: 'imgs/works/v-2.png',
						type: 2
					}, 

					{
						title: '星城官網',
						href: 'https://www.xin-stars.com/',
						img:'imgs/works/xin-1.png',
						type: 1
					},
					{
						title: '黑 Dekaron',
						href: 'https://dk.molome.tw/',
						img: 'imgs/works/xin-2.png',
						type: 1
					},
					{
						title: '劍俠世界貳',
						href: 'https://js2.molome.tw/',
						img: 'imgs/works/xin-3.png',
						type: 1
					},
					{
						title: 'WANIN Games會員平台',
						href: 'https://www.waningames.com/',
						img: 'imgs/works/xin-4.png',
						type: 1
					},
					{
						title: '門前隱味',
						href: 'https://www.wumamii.com.tw/cometogether/',
						img: 'imgs/works/wumamii.png',
						type: 1
					},
					{
						title: '元大消防',
						href: 'http://www.yuandah.com.tw/zh-tw/',
						img: 'imgs/works/yuandah.jpg',
						type: 1
					}, {
						title: '玖地集團',
						href: 'http://www.jdunited.com/en-us/',
						img: 'imgs/works/jdunited.jpg',
						type: 1
					}, {
						title: '隱策網頁設計',
						href: 'https://www.artie.com.tw/',
						img: 'imgs/works/artie.jpg',
						type: 1
					}, {
						title: 'Nokin',
						href: 'http://demo.artie.com.tw/template/nokin/original/',
						img: 'imgs/works/nokin.jpg',
						type: 1
					}, {
						title: '吉爾貝爾',
						href: 'https://www.gilbelle.com/',
						img: 'imgs/works/gilbelle.jpg',
						type: 1
					}, {
						title: 'i-Ride 體驗中心',
						href: 'http://www.irideexperiencecenter.com/',
						img: 'imgs/works/i-ride.jpg',
						type: 1
					}, {
						title: '1893 Boutique 購物',
						href: 'https://www.1893boutique.com/',
						img: 'imgs/works/1893.jpg',
						type: 1
					}, {
						title: '瑞振工業',
						href: 'http://www.sunnywheel.com.tw/',
						img: 'imgs/works/sunnywheel.jpg',
						type: 1
					}, {
						title: '嘉鴻遊艇集團',
						href: 'https://tw.horizonyacht.com/',
						img: 'imgs/works/horizonyacht.jpg',
						type: 1
					},
					{
						title: '阿原肥皂',
						href: 'http://www.taiwansoap.com.tw/',
						img: 'imgs/works/taiwansoap.jpg',
						type: 1
					}, {
						title: '太平洋百貨',
						href: 'http://fy.pacific-mall.com.tw/indexStore.php',
						img: 'imgs/works/pacific.jpg',
						type: 1
					}, {
						title: '杏輝醫藥集團',
						href: 'http://www.sinphar.com.tw/',
						img: 'imgs/works/sinphar.jpg',
						type: 1
					},
					{
						title: '新代科技',
						href: 'http://www.syntecclub.com.tw/',
						img: 'imgs/works/syntecclub.jpg',
						type: 1
					},
				],
				

			}
		})
	</script>
</body>
</html>
